<!DOCTYPE html>
<html>
  <head>
    <title>Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li><a href='/'>&lt; Back</a></li>
        </ul>
      </nav>
      <ul>
      <p><%= title %></p>
    </main>
  </body>
</html>
